body {
    background-color: black;
    font-family: 'Baloo Da 2', sans-serif;
    text-align: center;
    color: rgb(200, 200, 200);
}

main {
    width: 80vw;
    margin: .5rem auto 1.5rem auto;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #151515;
}

section {
    margin: 0 auto 1rem auto;
}

h2 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    color: rgb(0, 125, 255);
}

h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    color: rgb(0, 220, 220);
}

main a {
    text-decoration: none;
    color: rgb(200, 200, 200);
}

main a:hover {
    text-transform: uppercase;
    color: rgb(0, 125, 255);
}

.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

.game {
    flex: 0 0 auto;
}

.game img {
    width: 100%;
    display: block;
}

@media screen and (min-width: 1024px) {
    .game {
        width: calc(100%/6);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .game {
        width: calc(100%/4);
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .game {
        width: calc(100%/3);
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .game {
        width: calc(100%/2);
    }
}

@media screen and (max-width: 320px) {
    .game {
        width: 100%;
    }
}
