main {
    margin: 0 auto;
    max-width: 200px;
}

#block-img {
    height: 100px;
    width: 100px;
}

#block-win {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: 120% 0;
}

#mined-blocks-display {
    min-height: 75px;
    width: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
}